@font-face{
    font-family: 'Raleway-Medium';
    src: url(../fonts/Raleway-Medium.ttf);
}

@font-face{
    font-family: 'Raleway-MediumItalic';
    src: url(../fonts/Raleway-MediumItalic.ttf);
}

@font-face{
    font-family: 'Raleway-Regular';
    src: url(../fonts/Raleway-Regular.ttf);
}

@font-face{
    font-family: 'Raleway-SemiBold';
    src: url(../fonts/Raleway-SemiBold.ttf);
}